Repository wix-incubator/typed-locale-keys: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

---
"*.{js,ts,tsx}":
  - eslint --fix
  - git add
"*.{json,graphql}":
  - prettier --write

ci: version bump to v2.1.21
  package.json
Due: prettier --write

ci: version bump to v2.1.22
  package.json
Due: prettier --write

ci: version bump to v2.1.23
  package.json
Due: prettier --write

test: migrate to inbuilt jest snapshots
  .vscode/settings.json
  package.json
  tests/__snapshots__/generator.spec.ts.snap
  tests/__snapshots__/reactBindings.spec.tsx.snap
  tests/driver.ts
  tests/generator.spec.ts
  tests/reactBindings.spec.tsx
  tests/snapshot/exotic-keys/LocaleKeys.ts
  tests/snapshot/flat/LocaleKeys.ts
  tests/snapshot/flatten/LocaleKeys.ts
  tests/snapshot/fn-name/customFnName.tsx
  tests/snapshot/icu-nested/LocaleKeys.ts
  tests/snapshot/icu/LocaleKeys.ts
  tests/snapshot/interpolation-complex/LocaleKeys.ts
  tests/snapshot/interpolation-double/LocaleKeys.ts
  tests/snapshot/interpolation-single/LocaleKeys.ts
  tests/snapshot/nested/LocaleKeys.ts
  tests/snapshot/no-transl-fn/LocaleKeys.ts
  tests/snapshot/root-key/LocaleKeys.ts
  tests/update-snaptshots.ts
Due: eslint --fix, prettier --write

test: separate snapshot tests from the functional tests
  tests/__snapshots__/generator.spec.ts.snap
  tests/config.spec.ts
  tests/driver.ts
  tests/generator.spec.ts
  tests/reactBindings.spec.tsx
Due: eslint --fix

ci: version bump to v2.1.24
  package.json
Due: prettier --write

revert new behavior forcing
  src/Generator.ts
Due: eslint --fix

refactor: rework proxy template implementation
  .eslintrc.json
  src/BaseWriter.ts
  src/proxyEngine/proxyEngine.template.ts
  src/proxyEngine/renderProxyEngine.ts
  src/proxyImplementationTemplate.ts
Due: eslint --fix, prettier --write

refactor: extract params string building function
  src/BaseWriter.ts
Due: eslint --fix

feat: first working variant of proxy implementation
  src/BaseWriter.ts
  src/Generator.ts
  src/proxyImplementationTemplate.ts
Due: eslint --fix

refactor: minor type adjusment
  src/BaseWriter.ts
Due: eslint --fix

feat: enable proxy implementation by default for testing purposes
  src/Generator.ts
Due: eslint --fix

feat: fixup broken call usecase
  src/proxyImplementationTemplate.ts
Due: eslint --fix

feat: make proxy implementation default approach
  src/BaseWriter.ts
  src/Generator.ts
  src/bin.ts
  tests/__snapshots__/generator.spec.ts.snap
  tests/__snapshots__/reactBindings.spec.tsx.snap
  tests/config.spec.ts
  tests/generator.spec.ts
Due: eslint --fix

feat: add test for experemental impl cli param
  src/BaseWriter.ts
  src/Generator.ts
  src/bin.ts
  tests/cli-configs-sandbox/proxyImpl/package.json
  tests/cli-configs-sandbox/proxyImpl/source.json
  tests/config.spec.ts
  tests/driver.ts
Due: eslint --fix, prettier --write

test: cover new functional with tests
  package.json
  tests/__snapshots__/generator.spec.ts.snap
  tests/config.spec.ts
  tests/generator.spec.ts
Due: eslint --fix, prettier --write

docs: update docs
  README.md
  scripts/README.template.md
Due: none

docs: updated changelog
  CHANGELOG.md
Due: none

feat: added translation key as a comment value to be searchable
  src/BaseWriter.ts
  tests/__snapshots__/generator.spec.ts.snap
  tests/__snapshots__/reactBindings.spec.tsx.snap
Due: eslint --fix

ci: version bump to v2.1.25
  package.json
Due: prettier --write

docs: align changelog content
  CHANGELOG.md
Due: none

ci: version bump to v2.1.26
  package.json
Due: prettier --write

refactor: optimize implementation to create proxy only once
  src/proxyEngine/proxyEngine.template.ts
Due: eslint --fix

chore: adding `pathgen` instead of implementing on our own
  README.md
  package.json
  src/proxyEngine/proxyEngine.template.ts
  tests/__snapshots__/generator.spec.ts.snap
  tests/__snapshots__/reactBindings.spec.tsx.snap
  tests/cli-configs-sandbox/proxyImpl/package.json
  tests/cli-configs-sandbox/proxyImpl/source.json
  tests/config.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: adding `pathgen` instead of implementing on our own
  tests/__snapshots__/generator.spec.ts.snap
Due: none

chore: adding `pathgen` instead of implementing on our own
  package.json
  tsconfig.build.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Adding `pathgen` for proxy with caching
  CHANGELOG.md
  README.md
  package.json
  src/proxyEngine/proxyEngine.template.ts
  tests/__snapshots__/generator.spec.ts.snap
  tests/__snapshots__/reactBindings.spec.tsx.snap
  tests/cli-configs-sandbox/proxyImpl/package.json
  tests/cli-configs-sandbox/proxyImpl/source.json
  tests/config.spec.ts
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, prettier --write

ci: version bump to v2.1.27
  package.json
Due: prettier --write

ci: version bump to v2.1.28
  package.json
Due: prettier --write
