Repository wix-incubator/typed-locale-keys: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

---
"*.{js,ts,tsx}":
  - eslint --fix
  - git add
"*.{json,graphql}":
  - prettier --write

build: decrease ts-node version to work with node v10 in ci
  package.json
  yarn.lock
Due: prettier --write

build: change eslint config and add nvmrc
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .nvmrc
  images/caporal-usage.png
  jest.config.ts
  package.json
  scripts/generateReadme.ts
  src/BaseWriter.ts
  src/Generator.ts
  src/ReactWriter.ts
  src/bin.ts
  tests/config.spec.ts
  tests/driver.ts
  tests/generator.spec.ts
  tests/pregenerate.ts
  tests/reactBindings.spec.tsx
  tests/type-tests.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: add process cwd to the cosmiconfig search
  src/bin.ts
Due: eslint --fix

build: ban consoles and add log for config
  .eslintrc.json
  src/bin.ts
Due: eslint --fix, prettier --write

build: check if other assert pass
  src/bin.ts
  tests/config.spec.ts
Due: eslint --fix

build: add path resolution in driver for process spawning
  tests/config.spec.ts
  tests/driver.ts
Due: eslint --fix

build: move problematic config to package.json
  tests/cli-configs-sandbox/entries/package.json
Due: prettier --write

build: fix problematic package json
  tests/cli-configs-sandbox/entries/package.json
Due: prettier --write

Revert "build: move problematic config to package.json"
  tests/cli-configs-sandbox/entries/.typedlocalekeysrc.json
Due: prettier --write

Revert "build: fix problematic package json"
  tests/cli-configs-sandbox/entries/package.json
Due: prettier --write

build: try case sensitive name of cosmiconfig
  tests/cli-configs-sandbox/entries/.typedLocaleKeysrc.json
  tests/config.spec.ts
Due: eslint --fix, prettier --write

build: fix comsmiconfig read to got back initial functionality
  src/bin.ts
  tests/cli-configs-sandbox/entries/.typedlocalekeysrc.json
  tests/config.spec.ts
Due: eslint --fix, prettier --write

docs: improve docs template for proper blocks highlighting
  README.md
  scripts/README.template.md
Due: none

fix: adjust type name generation logic
  src/Generator.ts
  src/ReactWriter.ts
  src/bin.ts
  tests/driver.ts
  tests/generator.spec.ts
  tests/pregenerate.ts
  tests/type-tests.ts
Due: eslint --fix

docs: update readme
  README.md
Due: none

fix: add handling of complex interpolation cases
  src/BaseWriter.ts
  tests/generator.spec.ts
  tests/sources/interpolation-complex.json
Due: eslint --fix, prettier --write

fix: handle complex interpolation when it comes first
  src/BaseWriter.ts
  tests/generator.spec.ts
  tests/pregenerate.ts
  tests/sources/interpolation-complex.json
Due: eslint --fix, prettier --write

fix: type error because of wrong pregeneration
  tests/pregenerate.ts
  tests/type-tests.ts
Due: eslint --fix

fix: handle issue with first interpolation key
  src/BaseWriter.ts
Due: eslint --fix

test: change interpolation test to use cli method
  tests/generator.spec.ts
Due: eslint --fix

build: reorganize package json scripts
  package.json
Due: prettier --write

fix: handle case when one key matches another
  src/BaseWriter.ts
  tests/generator.spec.ts
  tests/sources/root-key.json
Due: eslint --fix, prettier --write

docs: minor readme markdown improvement
  README.md
  scripts/README.template.md
Due: none

fix: add tslint disable to the generated file
  src/BaseWriter.ts
  tests/generator.spec.ts
Due: eslint --fix

ci: add basic github actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/npm-publish.yml
  .github/workflows/push.yml
Due: none

ci: add yarn install run
  .github/workflows/push.yml
Due: none

ci: add install node steap and rename publish workflow
  .github/workflows/npm-publish.yml
  .github/workflows/push.yml
Due: none

ci: fix registry and remove build from publish workflow
  .github/workflows/npm-publish.yml
  .github/workflows/push.yml
Due: none

ci: regenerate yarn lock
  yarn.lock
Due: none

ci: fix conditions
  .github/workflows/push.yml
Due: none

ci: replace event with event name
  .github/workflows/push.yml
Due: none

chore: added activation if simple git hooks
  package.json
Due: prettier --write

ci: bumping with deploy key
  .github/workflows/push.yml
Due: none

ci: change checout action remove token from bump action
  .github/workflows/push.yml
Due: none

ci: add manual push step
  .github/workflows/push.yml
Due: none

ci: version bump to v2.0.1
  package.json
Due: prettier --write

ci: split workflow and add version creation
  .github/workflows/push.yml
Due: none

ci: sync package.json with old ci
  package.json
Due: prettier --write

ci: fix ci syntax
  .github/workflows/push.yml
  package.json
Due: prettier --write
