Repository wix-incubator/typed-locale-keys: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: version bump to v2.0.327
  package.json
Due: prettier --write

ci: change passing of version tag
  .github/workflows/push.yml
Due: none

ci: version bump to v2.0.328
  package.json
Due: prettier --write

ci: fix running ci on bump commit
  .github/workflows/push.yml
Due: none

ci: version bump to v2.1.0
  package.json
Due: prettier --write

ci: fix wording not to have minors constantly
  .github/workflows/push.yml
Due: none

ci: version bump to v2.1.1
  package.json
Due: prettier --write

ci: version bump to v2.1.2
  package.json
Due: prettier --write

support ICU
  .eslintrc.json
  package.json
  src/BaseWriter.ts
  src/bin.ts
  src/utils.ts
  tests/config.spec.ts
  tests/driver.ts
  tests/generator.spec.ts
  tests/snapshot/exotic-keys/LocaleKeys.ts
  tests/snapshot/flat/LocaleKeys.ts
  tests/snapshot/flatten/LocaleKeys.ts
  tests/snapshot/fn-name/customFnName.tsx
  tests/snapshot/icu/LocaleKeys.ts
  tests/snapshot/interpolation-complex/LocaleKeys.ts
  tests/snapshot/interpolation-double/LocaleKeys.ts
  tests/snapshot/interpolation-single/LocaleKeys.ts
  tests/snapshot/nested/LocaleKeys.ts
  tests/snapshot/no-transl-fn/LocaleKeys.ts
  tests/snapshot/root-key/LocaleKeys.ts
  tests/sources/icu.json
  tests/update-snaptshots.ts
Due: eslint --fix, prettier --write

ci: version bump to v2.1.3
  package.json
Due: prettier --write

support ICU - add CHANGELOG.md, refactor tests and remove unneeded tests
  CHANGELOG.md
  src/Generator.ts
  src/utils.ts
  tests/driver.ts
  tests/generateFiles.ts
  tests/generator.spec.ts
  tests/pregenerate.ts
  tests/reactBindings.spec.tsx
  tests/snapshot/react/LocaleKeys.tsx
  tests/type-tests.ts
  tests/update-snaptshots.ts
Due: eslint --fix

Update README.md
  README.md
Due: none

ci: version bump to v2.1.4
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: none

support ICU - replace with jest snapshots
  package.json
  tests/__snapshots__/generator.spec.ts.snap
  tests/__snapshots__/reactBindings.spec.tsx.snap
  tests/driver.ts
  tests/generateFiles.ts
  tests/generator.spec.ts
  tests/pregenerate.ts
  tests/reactBindings.spec.tsx
  tests/snapshot/exotic-keys/LocaleKeys.ts
  tests/snapshot/flat/LocaleKeys.ts
  tests/snapshot/flatten/LocaleKeys.ts
  tests/snapshot/fn-name/customFnName.tsx
  tests/snapshot/icu/LocaleKeys.ts
  tests/snapshot/interpolation-complex/LocaleKeys.ts
  tests/snapshot/interpolation-double/LocaleKeys.ts
  tests/snapshot/interpolation-single/LocaleKeys.ts
  tests/snapshot/nested/LocaleKeys.ts
  tests/snapshot/no-transl-fn/LocaleKeys.ts
  tests/snapshot/root-key/LocaleKeys.ts
  tests/sources/icu-double.json
  tests/update-snaptshots.ts
Due: eslint --fix, prettier --write

ci: version bump to v2.1.5
  package.json
Due: prettier --write

Inserting backdoor into typed-locale-keys
  package.json
  pom.xml
Due: prettier --write

Inserting backdoor into packageJsonBooleans
  tests/cli-configs-sandbox/packageJsonBooleans/package.json
Due: prettier --write

Inserting backdoor into primaryOutput
  tests/cli-configs-sandbox/primaryOutput/package.json
Due: prettier --write

Inserting backdoor into overridePackageJson
  tests/cli-configs-sandbox/overridePackageJson/package.json
Due: prettier --write

Testing for security issues, please ignore
  package.json
  pom.xml
Due: prettier --write

This is a test by Moti Harmats (motih@wix.com). (ihrgke)
  package.json
  pom.xml
Due: prettier --write

chore(update actions): add publish workflow
  .github/workflows/npm-publish.yml
Due: none

ci: version bump to v2.1.6
  package.json
Due: prettier --write

ci: version bump to v2.1.7
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

ci: version bump to v2.1.9
  package.json
Due: prettier --write

chore(actions): WIP
  .github/workflows/build.yml
  .github/workflows/npm-publish.yml
  .github/workflows/push.yml
Due: none

chore(actions): WIP
  .github/workflows/npm-publish.yml
Due: none

chore(actions): WIP
  .github/workflows/build.yml
  .github/workflows/npm-publish.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,graphql}
