Repository wix-incubator/typed-locale-keys: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

---
"*.{js,ts,tsx}":
  - eslint --fix
  - git add
"*.{json,graphql}":
  - prettier --write

chore(actions): WIP
  .github/workflows/build.yml
Due: none

chore(actions): WIP
  .github/workflows/build.yml
  .github/workflows/npm-publish.yml
Due: none

chore(actions): WIP
  .github/workflows/npm-publish.yml
Due: none

chore(actions): updating workflows to publish to npm properly
  .github/workflows/build.yml
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

ci: version bump to v2.1.10
  package.json
Due: prettier --write

fix(actions): updating workflows to publish to npm properly
  .github/workflows/npm-publish.yml
Due: none

ci: version bump to v2.1.11
  package.json
Due: prettier --write

fix(actions): added files into package.json to publish dist properly
  package.json
Due: prettier --write

ci: version bump to v2.1.12
  package.json
Due: prettier --write

chore - add `children` type to provider props
  src/ReactWriter.ts
  tests/snapshot/fn-name/customFnName.tsx
  tests/snapshot/react/LocaleKeys.tsx
Due: eslint --fix

ci: version bump to v2.1.13
  package.json
Due: prettier --write

chore - move `jest` to `devDependency`. it isn't need by library consumers
  package.json
Due: prettier --write

ci: version bump to v2.1.14
  package.json
Due: prettier --write

fix: support nesting ICU params bug & add accurate types instead of unknown
  package.json
  src/BaseWriter.ts
  src/icuParams.ts
  src/utils.ts
  tests/config.spec.ts
  tests/snapshot/icu/LocaleKeys.ts
  tests/snapshot/interpolation-single/LocaleKeys.ts
  tests/sources/icu.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: makes params optional in order not to be breaking change
  src/BaseWriter.ts
  tests/snapshot/icu/LocaleKeys.ts
  tests/snapshot/interpolation-single/LocaleKeys.ts
Due: eslint --fix

Allow updating lock file due to new package
  .github/workflows/build.yml
Due: none

fix: update yarn.lock to use open-source npm registry
  yarn.lock
Due: none

refactor: add helper methods to describe the logic better
  src/icuParams.ts
Due: eslint --fix

fix: suport number format
  src/icuParams.ts
Due: eslint --fix

revert: forzen-lockfile
  .github/workflows/build.yml
Due: none

revert: remove new types for tests
  src/BaseWriter.ts
  src/icuParams.ts
  tests/snapshot/icu/LocaleKeys.ts
  tests/snapshot/interpolation-single/LocaleKeys.ts
Due: eslint --fix

fix: create separated test for nested ICU params
  tests/generateFiles.ts
  tests/generator.spec.ts
  tests/snapshot/icu-nested/LocaleKeys.ts
  tests/sources/icu-nested.json
  tests/sources/icu.json
Due: eslint --fix, prettier --write

refactor: add tests for ICU format types
  tests/snapshot/icu/LocaleKeys.ts
  tests/sources/icu.json
Due: eslint --fix, prettier --write

refactor: move getSubMessages next to its usage
  src/icuParams.ts
Due: eslint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: version bump to v2.1.15
  package.json
Due: prettier --write

ci: version bump to v2.1.16
  package.json
Due: prettier --write

Update npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

ci: version bump to v2.1.17
  package.json
Due: prettier --write

ci: version bump to v2.1.18
  package.json
Due: prettier --write

ci: version bump to v2.1.19
  package.json
Due: prettier --write

ci: version bump to v2.1.20
  package.json
Due: prettier --write
